/**
*
*	Name:			Kook Fonts
*	Version:			2.4
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Aug 02, 2022
*	Updated on:		Aug 02, 2022
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان X  یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Kook fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
  font-family: "Kook";
  font-style: normal;
  font-weight: 200; /* ExtraLight */
  src: url("/fonts/KookPro/KookFaNum-ExtraLight.woff2") format("woff2"),
       url("/fonts/KookPro/KookFaNum-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Kook";
  font-style: normal;
  font-weight: 300; /* Light */
  src: url("/fonts/KookPro/KookFaNum-Light.woff2") format("woff2"),
       url("/fonts/KookPro/KookFaNum-Light.woff") format("woff");
}

@font-face {
  font-family: "Kook";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("/fonts/KookPro/KookFaNum-Regular.woff2") format("woff2"),
       url("/fonts/KookPro/KookFaNum-Regular.woff") format("woff");
}

@font-face {
  font-family: "Kook";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("/fonts/KookPro/KookFaNum-Medium.woff2") format("woff2"),
       url("/fonts/KookPro/KookFaNum-Medium.woff") format("woff");
}

@font-face {
  font-family: "Kook";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("/fonts/KookPro/KookFaNum-Bold.woff2") format("woff2"),
       url("/fonts/KookPro/KookFaNum-Bold.woff") format("woff");
}

@font-face {
  font-family: "Kook";
  font-style: normal;
  font-weight: 800; /* ExtraBold */
  src: url("/fonts/KookPro/KookFaNum-ExtraBold.woff2") format("woff2"),
       url("/fonts/KookPro/KookFaNum-ExtraBold.woff") format("woff");
}

